{% extends 'base.html' %}

{% block content %}
<h1 class="title">{% block title %} Aspect {{ aspect.id }} {{ aspect.name }} {% endblock %}</h1>
    <div class="content">
        <div class="aspect">
            <a href="{{ url_for('aspect_export_json', aspect_id=aspect.id) }}">JSON</a></td>
            <b>
                <p>Associated Scales</p>
                <select multiple="multiple">
                {% for scale in aspect.scales %}
                    <option onClick="window.location = '/scale/{{ scale.id }}'">{{ scale.reference }}</option>
                {% endfor %}
                </select>
            </b>
            <pre> {{ response }} </pre>
        </div>
        
    </div>
    <img src="data:image/png;base64,{{graph|safe}}"/>
{% endblock %}
