{% extends 'base.html' %}

{% block content %}
<h1 class="title">{% block title %} Aspect {{ aspect.id }} {{ aspect.name }} {% endblock %}</h1>
    <div class="content">
        <div class="service">
            <b>
                <p>Identifier: ({{ aspect.uid }}, {{ aspect.uid_name }})</p>
            </b>
            <b>
                <p>Associated Scales</p>
                <select multiple="multiple">
                {% for scale in aspect.scales %}
                    <option onClick="window.location = '/scale/{{ scale.id }}'">{{ scale.reference }}</option>
                {% endfor %}
                </select>
            </b>
            <pre> {{ response }} </pre>
        </div>
        
    </div>
{% endblock %}
