<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Measurement Information Infrastructure</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>

body {
    background-color: #f7f7f7;
}

.content {
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar-brand {
    font-weight: 600;
}

.section-card {
    margin-bottom: 20px;
}

.metadata-list {
    height: 300px;
}

.metadata-list option {
    padding: 4px;
}

.metadata-list {
    font-size: 0.9rem;

}
.footer {
    margin-top: 40px;
    padding: 10px;
    font-size: 0.9em;
    color: #555;
}

</style>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container-fluid">

<a class="navbar-brand" href="{{ url_for('main.index') }}">
Measurand Information Infrastructure
</a>

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarContent">

<ul class="navbar-nav me-auto">

<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Links</a>
<ul class="dropdown-menu">
<li><a class="dropdown-item" href="https://api.mlayer.org">Mlayer API</a></li>
<li><a class="dropdown-item" href="https://github.com/NCSLI-MII/measurand-taxonomy">MII Measurand Taxonomy</a></li>
<li><a class="dropdown-item" href="https://si-digital-framework.org">BIPM SI Digital Framework</a></li>
</ul>
</li>

<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Schemas</a>
<ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{{ url_for('main.modelMII') }}">MII model</a></li>
    <li><a class="dropdown-item" href="{{ url_for('main.modelQuantity') }}">Quantity model</a></li>
    <li><a class="dropdown-item" href="{{ url_for('main.modelTaxonomyMeasurand') }}">Measurand model</a></li>
</ul>
</li>

<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Catalogues</a>
<ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{{ url_for('main.aspects') }}">Aspects</a></li>
    <li><a class="dropdown-item" href="{{ url_for('main.scales') }}">Scales</a></li>
    <li><a class="dropdown-item" href="{{ url_for('main.taxonomy') }}">Measurand taxonomy</a></li>
    <li><a class="dropdown-item" href="{{ url_for('main.taxonomy_export') }}">Export taxonomy</a></li>
</ul>
</li>

<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">KCDB CMCs</a>
<ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{{ url_for('main.kcdbcmcs_auv') }}">AUV</a></li>
    <li><a class="dropdown-item" href="{{ url_for('main.kcdbcmcs_em') }}">EM</a></li>
    <li><a class="dropdown-item" href="{{ url_for('main.kcdbcmcs_l') }}">Length</a></li>
    <li><a class="dropdown-item" href="{{ url_for('main.kcdbcmcs_m') }}">Mass</a></li>
    <li><a class="dropdown-item" href="{{ url_for('main.kcdbcmcs_pr') }}">PR</a></li>
    <li><a class="dropdown-item" href="{{ url_for('main.kcdbcmcs_t') }}">Temperature</a></li
    ><li><a class="dropdown-item" href="{{ url_for('main.kcdbcmcs_tf') }}">Time & Frequency</a></li>
</ul>
</li>

</ul>

</div>
</div>
</nav>


<div class="container mt-4">

    <div class="content">
        {% block content %}
        {% endblock %} 
    </div>
<div class="footer">
This work is licensed under a
<a href="https://creativecommons.org/licenses/by-sa/4.0/">
Creative Commons Attribution‑ShareAlike 4.0 International License
</a>,
</div>

</div>

</body>
</html>


