{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Measurement Information {% endblock %}</h1>
    <div class="content">
        <div>
            <h2> Measurand Taxonomy </h2>
        <div>
        <p>
        <a href="taxonomy"> Measurands </a> <br />
        <a href="{{ url_for('taxonomy_export') }}"> Export taxonomy </a>
        </p>
        <div>
        <h3>Defined Taxons</h3>
        <div>
        <select multiple="multiple">
        {% for m in measurands %}
            <option onClick="window.location = '/measurand/{{ m.id }}'">{{ m.name }}</option>
        {% endfor %}
        </select>
        </div>
    </div>
    <div class="content">
        <div>
        <h2>Defined Quantity Kinds</h2>
        <div>
        <select multiple="multiple">
        {% for a in aspects %}
             <option onClick="window.location = '/aspect/{{ a.id }}'">{{ a.name }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="content">
        <div>
        <h2>Defined Scales</h2>
        <div>
        <select multiple="multiple">
        {% for scale in scales %}
              <option onClick="window.location = '/scale/{{ scale.id }}'">{{ scale.ml_name }}</option>
        {% endfor %}
        </select>
    </div>
{% endblock %}
