{% extends 'base.html' %}

{% block content %}
<h1 class="title">{% block title %} Measurand: {{ measurand.name }} {% endblock %}</h1>
    <div class="content">
        <div class="measurand">
            <a href="{{ url_for('measurand_export_xml', measurand_id=measurand.id) }}">XML</a></td>
            <a href="{{ url_for('api_measurand', measurand_id=measurand.id) }}">JSON</a></td>
            </br>
            <b>Taxon:</b> {{ measurand.name }} </br>
            <b>Result:</b> <a href="/aspect/{{ measurand.aspect.id }}">{{ measurand.aspect.name }}</a></li></br>
            <b>Definition:</b> {{ measurand.definition }} </br>
            <b>Parameters: </b>: {{ measurand.parameters| join(', ') }}
        </div>
    </div>
    <img src="data:image/png;base64,{{graph|safe}}"/>
{% endblock %} 

