{% extends 'base.html' %}

{% block content %}
<h1 class="title">{% block title %} Scale: {{ scale.ml_name }} {% endblock %}</h1>
    <div class="content">
        <div class="scale">
            <a href="{{ url_for('api.api_scale', scale_id=scale.id) }}">JSON</a></td></br>
            <b>Identifier: </b> {{ scale.id }} </br>
            <b>Name: </b> {{ scale.ml_name }} </br>
            <b>Scale type: </b> {{ scale.scale_type}} </br>
            <b>Unit: </b> <a href="/unit/{{ scale.unit.id }}">{{ scale.unit.name }}</a> </br>
            <b>Associated aspects:</b></br>
            {% for aspect in scale.aspects %}
                <a href="/aspect/{{ aspect.id }}">{{ aspect.id }}: {{ aspect.name }}</a></br>
            {% endfor %}
        </div>
    </div>
    <div id="graph"></div>

    <script src="https://cdn.jsdelivr.net/npm/viz.js@2.1.2/viz.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/viz.js@2.1.2/full.render.js"></script>

    <script>

    const dot = `{{ graph | safe }}`;

    const viz = new Viz();

    viz.renderSVGElement(dot)
    .then(function(element) {
        document.getElementById("graph").appendChild(element);
    })
    .catch(error => console.error(error));

    </script>
{% endblock %}
