{% extends 'base.html' %}

{% block title %}Measurands{% endblock %}

{% block content %}
<h1 class="title">Measurands</h1>
<div class="content">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Definition</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for m in measurands %}
            <tr>
                <td>{{ m.name }}</td>
                <td>{{ m.definition }}</td>
                <td><a href="{{ url_for('measurand', measurand_id=m.id) }}">Details</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
